@charset "UTF-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.userImage{
	border-radius: 100px;
    float: left;
    height: 60px;
    margin: 0px 20px 0 0;
    object-fit: cover;
    width: 60px;
	margin-left:30px;
	
}

.dogImage{
	/*border-radius: 100px;*/
    float: right;
    /*height: 30px;*/
    /*object-fit: cover;*/
    width: 45px;
	margin-top:-35px;
	
}
.postimg{
	    display: block;
    width: 100%;
}

html, body{
	background-color:#efefef;
	
}


html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
a {
  color: #38506C;
  text-decoration: none;
  font-size:13px;
}
a:hover {
  text-decoration: underline;
}
.post {
	background: #FFF;
  	border-radius: 4px;
  	height: auto;
  /*margin: 30px auto 40px;*/
  max-width: 550px;
  overflow: hidden;
  padding: 0px 0 0;
  position: relative;	
}

.postContainer {
		max-width:650px;
		padding-right:80px;
		background: #efefef;
  		margin: 30px auto 40px;

}

h4 {
	margin:0;
	margin-top:10px;
	margin-left:1.5em;
	/*height:60px;*/
	display:inline-block;
	
}

.top-bar {
	height:45px;
	border: 0;
    border-bottom: 1px solid #F0F0F0;
}

.date {
	color: #c6c6c6;
    display: block;
    font-size: 12px;
    margin-top: 12px;
}

.like-button {
    background: #FFF;
    border: 0;
    /*border-right: 1px solid #F4F4F4;*/
    color: #9197A3;
    font-size: 20px;
    float: left;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    width: 15%;
 }
 
  #comment-section {
    background: #fff;
    border: 0;
    color: #9197A3;
    font-size: 14px;
    float: left;
    height: 60px;
    line-height: 55px;
    margin: 0;
    padding: 0;
	padding-left: 5px;

    width: 79%;
 }
 
 
 #like-count {
    background: #FFF;
    color: #3e5c96;
    font-size: 12px;
    font-weight:bold;
    margin: 0;
    padding: 0;
	padding-left:1.7em;
	display:block;
 }
 
 .comment-username {
    background: #FFF;
    color: #3e5c96;
    font-size: 12px;
    font-weight:bold;
    margin: 0;
    padding: 0;
 }
 
 p{
	    color: #3d3d3d;
    font-size: 16px;
  	font-family: 'Open Sans', sans-serif;
	margin-top: 5px;
    margin-bottom: 10px; 
 }
 
 .content-container{
	 /*padding-left:20px;*/
	 padding-top:20px;

	 
 }
 
 hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FAFAFA;
   /* margin-top: 1em;*/
    padding: 0;
   /* margin-top: 20px;*/
   
}

.comments {
	display:inline-block;
	padding:0px;
	margin-bottom:15px;
}

.comment {
	font-family: 'Open Sans', sans-serif;
  	font-size: 14px;
  	font-weight: 400;
  	color: #3d3d3d;
	padding-left:1.5em;
}

button:focus {outline:0;}
input:focus {outline:0;}

.like-button.liked {
	color:red !important;
	
}
.bottom-bar {
   height: auto;
    /*overflow:auto;	*/
}

input, textarea{
    width: 100%;
    background: none;
    outline: none;
    border: 0;
    color: #3d3d3d;
    margin-bottom: 2.8rem;
    /* margin-bottom: 5px; */
    line-height: 2;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -transition: all 0.6s ease;
    transition: all 0.6s ease;
    resize: none;
    border-radius: 0;
    font-family: "Open Sans";
    font-size: 14px;

	
}

